// Custom StoryParcel Colors
$sp-blue:     #C1D0DD;
$sp-yellow:   #FFE39D;
$sp-green:    #B7C7B9;
$sp-pink:     #FFE4D6;
$sp-red:      #FF9D8B;

$global-primary-background: $sp-blue;

// Type
$global-font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$base-heading-font-weight: 700;
